<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cn</key>
	<dict>
		<key>reference</key>
		<string>相关</string>
		<key>history</key>
		<string>旋转屏幕查看公司里程碑</string>
		<key>application</key>
		<string>应用 / 视频</string>
		<key>system</key>
		<string>系统</string>
		<key>companyvideo</key>
		<string>公司宣传视频</string>
		<key>video</key>
		<string>视频</string>
		<key>net</key>
		<string>YUDO 销售网点</string>
		<key>company</key>
		<string>公司</string>
		<key>technical</key>
		<string>技术</string>
		<key>market</key>
		<string>市场</string>
		<key>catalog</key>
		<string>分类</string>
		<key>introduction</key>
		<string>介绍</string>
	</dict>
	<key>en</key>
	<dict>
		<key>reference</key>
		<string>reference</string>
		<key>history</key>
		<string>Rotary screen view milepost</string>
		<key>application</key>
		<string>Application / Video</string>
		<key>system</key>
		<string>System</string>
		<key>companyvideo</key>
		<string>Company Video</string>
		<key>video</key>
		<string>Video</string>
		<key>net</key>
		<string>YUDO_NETWORK</string>
		<key>company</key>
		<string>Company</string>
		<key>technical</key>
		<string>Technical</string>
		<key>market</key>
		<string>Market</string>
		<key>catalog</key>
		<string>Catalog</string>
		<key>introduction</key>
		<string>Introduction</string>
	</dict>
	<key>it</key>
	<dict>
		<key>reference</key>
		<string>Riferimento</string>
		<key>history</key>
		<string>Vista la Pietra miliare di rotazione</string>
		<key>application</key>
		<string>Applicazioni / Video</string>
		<key>system</key>
		<string>Sistema</string>
		<key>companyvideo</key>
		<string>IL Video</string>
		<key>video</key>
		<string>Video</string>
		<key>net</key>
		<string>YUDO_NETWORK</string>
		<key>company</key>
		<string>Azienda</string>
		<key>technical</key>
		<string>Tecnologia</string>
		<key>market</key>
		<string>Mercato</string>
		<key>catalog</key>
		<string>Categoria</string>
		<key>introduction</key>
		<string>Introduzione</string>
	</dict>
	<key>tur</key>
	<dict>
		<key>reference</key>
		<string>Referans</string>
		<key>history</key>
		<string>Kilometre taşı görüntülemek için ekranı döndürün</string>
		<key>application</key>
		<string>Uygulama / Video</string>
		<key>system</key>
		<string>Sistem</string>
		<key>companyvideo</key>
		<string>Şirket video</string>
		<key>video</key>
		<string>Video</string>
		<key>net</key>
		<string>YUDO_NETWORK</string>
		<key>company</key>
		<string>şirket</string>
		<key>technical</key>
		<string>Teknoloji</string>
		<key>market</key>
		<string>Market</string>
		<key>catalog</key>
		<string>Kategori</string>
		<key>introduction</key>
		<string>giriş</string>
	</dict>
	<key>de</key>
	<dict>
		<key>reference</key>
		<string>Referenz</string>
		<key>history</key>
		<string>Ein meilenstein in der rotation der bildschirm betrachten</string>
		<key>application</key>
		<string>Anwendungen / Video</string>
		<key>system</key>
		<string>System</string>
		<key>companyvideo</key>
		<string>Ltd Video</string>
		<key>video</key>
		<string>Video</string>
		<key>net</key>
		<string>YUDO_NETWORK</string>
		<key>company</key>
		<string>Ltd.</string>
		<key>technical</key>
		<string>Technologie</string>
		<key>market</key>
		<string>Markt</string>
		<key>catalog</key>
		<string>Kategorie</string>
		<key>introduction</key>
		<string>Die</string>
	</dict>
	<key>fr</key>
	<dict>
		<key>reference</key>
		<string>Reference</string>
		<key>history</key>
		<string>La rotation de l&apos;écran de visualisation de jalon</string>
		<key>application</key>
		<string>Application / Vidéo</string>
		<key>system</key>
		<string>System</string>
		<key>companyvideo</key>
		<string>Vidéo</string>
		<key>video</key>
		<string>Vidéo</string>
		<key>net</key>
		<string>YUDO_NETWORK</string>
		<key>company</key>
		<string>Société</string>
		<key>technical</key>
		<string>Technical</string>
		<key>market</key>
		<string>Market</string>
		<key>catalog</key>
		<string>Catalog</string>
		<key>introduction</key>
		<string>Introduction</string>
	</dict>
	<key>pt</key>
	<dict>
		<key>reference</key>
		<string>Referencia</string>
		<key>history</key>
		<string>Rotary tela De Marco</string>
		<key>application</key>
		<string>Aplicações / Video</string>
		<key>system</key>
		<string>Sistema</string>
		<key>companyvideo</key>
		<string>A empresa video</string>
		<key>video</key>
		<string>Video</string>
		<key>net</key>
		<string>YUDO_NETWORK</string>
		<key>company</key>
		<string>A empresa</string>
		<key>technical</key>
		<string>Tecnologia</string>
		<key>market</key>
		<string>Mercado</string>
		<key>catalog</key>
		<string>Categoria</string>
		<key>introduction</key>
		<string>Introdução</string>
	</dict>
	<key>es</key>
	<dict>
		<key>reference</key>
		<string>Reference</string>
		<key>history</key>
		<string>Gire la pantalla para ver el hito</string>
		<key>application</key>
		<string>Aplicaciones / Video</string>
		<key>system</key>
		<string>Sistema</string>
		<key>companyvideo</key>
		<string>Información de registro</string>
		<key>video</key>
		<string>Video</string>
		<key>net</key>
		<string>YUDO_NETWORK</string>
		<key>company</key>
		<string>Compañía</string>
		<key>technical</key>
		<string>Tecnología</string>
		<key>market</key>
		<string>Market</string>
		<key>catalog</key>
		<string>Categoría</string>
		<key>introduction</key>
		<string>Introducción</string>
	</dict>
</dict>
</plist>
